<%- include("partials/header.ejs") %>

<body  class="sand-background" >

<div class="mt-2" >
  <h1 class="theborder" style="font-size: 50px; font-weight: bold; padding-top: 3%; padding-bottom: 3%;">About Me</h1>

  <div class="theborder">
    <p style="font-size: 30px; padding-top: 3%; text-decoration-line: underline;" >Technical Skills:</p>
      <p style="font-size: 30px; padding-top: 3%;">My Knowledge:</p>
        <p style="font-size: 20px;">Python</p>
        <p style="font-size: 20px;">HTML</p>
        <p style="font-size: 20px;">CSS</p>
      <p style="font-size: 30px; padding-top: 3%;">Familiar With:</p>
        <p style="font-size: 20px;">JavaScript</p>
        <p style="font-size: 20px;">NodeJs</p>
        <p style="font-size: 20px;">EJS</p>
        <p style="font-size: 20px;">Bootstrap</p>
        <p style="font-size: 20px;">Pandas</p>
        <p style="font-size: 20px;">Numpy</p>
        <p style="font-size: 20px;">APIs</p>
        <p style="font-size: 20px;">JSON</p>
  </div>

</div>
</body>
  <%- include("partials/footer.ejs") %>
  